*, :after, :before {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
}

header.started #start-mock,
header #stop-mock {
  display: none;
}

header.started #stop-mock,
header #start-mock {
  display: block;
}

.gap {
  padding: 1em 0;
}
